@inherits LayoutComponentBase

<NavigationMenu />

<section id="wrapper" class="is-flex is-align-items-strech">
    @Body
</section>

<footer class="footer footer-small">
    <div class="content has-text-centered">
        <p>
            <a href="https://geonrage.k94ll13nn3.dev/">Geo'N Rage</a> v0.11.1 par
            <a href="https://github.com/k94ll13nn3/">k94ll13nn3</a> — Rageux/20
        </p>
    </div>
</footer>
