table {
    td {
        width: 75px;
        max-width: 75px;
        overflow-wrap: break-word;
    }

    th {
        width: 75px;
        max-width: 75px;
        overflow-wrap: break-word;
    }
}
