@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page-wrap">
    <header class="page-header">
        <a href="@NavigationManager.ToAbsoluteUri("/")">Geo'N Rage <Version /></a>
    </header>

    <nav class="page-nav">
        <NavigationMenu />
    </nav>

    <main class="page-main">
        @Body
    </main>

    <footer class="page-footer">
        Rageux/20
    </footer>
</div>

