version: 2
updates:
- package-ecosystem: nuget
  directory: "/"
  schedule:
    interval: monthly
    time: "04:00"
  open-pull-requests-limit: 10
  groups:
    aspire:
      patterns:
        - "Aspire.*"
    aspNetCore:
      patterns:
        - "Microsoft.AspNetCore.*"
