@inherits LayoutComponentBase

<SiteHeader />
<NavigationMenu />

<section id="wrapper" class="is-flex is-align-items-strech">
	@Body
</section>

<footer class="footer footer-small">
	<div class="content has-text-centered">
		<p>
			<a href="https://geonrage.k94ll13nn3.dev/">Geo'N Rage</a> @VersionString par
			<a href="https://github.com/k94ll13nn3/">k94ll13nn3</a> — Rageux/20<br />
			Basé sur <a href="https://bulma.io">Bulma</a> par <a href="https://jgthms.com">Jeremy Thomas</a>
			avec le thème <a href="https://jenil.github.io/bulmaswatch/darkly/">Darkly</a> par <a href="https://github.com/jenil">Jenil Gogari</a>
		</p>
	</div>
</footer>

<PopupRender />
<ToastRender />
<ModalRender />
