@if (_isOpen && _eventArgs is not null)
{
    <CascadingValue Value="this">
        <div class="modal is-active" tabindex="0" @onkeydown="HandleKeyDown">
            <div class="modal-background"></div>
            <div class="modal-content @(_eventArgs.Options.IsSmall ? "small" : null)">
                <DynamicComponent Type="@_eventArgs.ComponentType" Parameters="@_eventArgs.Parameters" />
            </div>

            @if (_eventArgs.Options.ShowCloseButton)
            {
                <button class="modal-close is-large" aria-label="close" type="button" @onclick="Close"></button>
            }
        </div>
    </CascadingValue>
}
