.modal-content {
    &.small {
        width: 200px;
    }

    &.large {
        width: 1000px;
    }

    &.extra-large {
        width: 1400px;
    }
}


::deep {
    .dialog-box {
        background-color: var(--bulma-scheme-main);
        display: flex;
        flex-direction: column;
        border-radius: var(--bulma-control-radius);
        overflow: hidden;

        .dialog-title {
            box-shadow: var(--geonrage-shadow);
        }

        .two-buttons button {
            flex: 0 0 50%;
        }
    }
}
