@use 'variables' as v;

nav {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.2);
}

.page-header {
    font-family: v.$logo-font;
    font-size: 30px;
}

.profil-notification .badge {
    position: absolute;
    top: -5px;
    right: -5px;
    border-radius: 50%;
    background: var(--primary);
    color: #fff;
    height: 15px;
    width: 15px;
}

img {
    max-height: 2.5rem;
}
