@use 'variables' as v;

nav {
    box-shadow: var(--geonrage-shadow);
    --bulma-navbar-item-img-max-height: 2.5rem;
}

.page-header {
    font-family: v.$logo-font;
    font-size: 30px;
}

.profil-notification .badge {
    position: absolute;
    top: -5px;
    right: -5px;
    border-radius: 50%;
    background: var(--primary);
    color: #fff;
    height: 15px;
    width: 15px;
}
