<div class="menu-links">
    <a href="@NavigationManager.ToAbsoluteUri("/games")">Parties</a>

    <div class="theme-chooser">
        <select @onchange="ChangeThemeAsync">
            <option value="basic">Basic</option>
            <option value="legacy">Legacy</option>
            <option value="zelda">Zelda</option>
        </select>
    </div>
</div>
