<div class="menu-links">
    <NavLink Match="NavLinkMatch.Prefix" href="@NavigationManager.ToAbsoluteUri("/games")" class="ml-10 mr-10">Parties</NavLink>
    <NavLink Match="NavLinkMatch.Prefix" href="@NavigationManager.ToAbsoluteUri("/admin/maps")" class="ml-10 mr-10">Gestion cartes</NavLink>

    <div class="theme-chooser">
        <select @onchange="ChangeThemeAsync">
            <option value="basic">Basic</option>
            <option value="legacy">Legacy</option>
            <option value="zelda">Zelda</option>
        </select>
    </div>
</div>
