@use 'variables' as v;
@use 'themes' as t;

input {
    font-family: inherit;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-color: transparent;

    &:focus {
        outline: none;
        border: 0px solid;
        background-color: lightgrey;

        @include t.themify(boder-color, foreground);
    }

    &:disabled, &[disabled] {
        text-align: center;

        @include t.themify(background-color, background);
        @include t.themify(color, foreground);
    }

    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &[type=number] {
        -moz-appearance: textfield;
    }
}
