<div class="dialog-box">
    <div class="dialog-title py-1">
        <span class="has-text-weight-semibold is-size-4 m-4">@Title</span>
    </div>

    <span class="m-4">
        @Message
    </span>

    <div class="buttons has-addons is-flex">
        <button class="button is-success is-radiusless" @onclick="Confirm" type="button">Valider</button>
        <button class="button is-danger is-radiusless" @onclick="Cancel" type="button">Annuler</button>
    </div>
</div>
