<div class="field m-1">
    <p class="control is-expanded">
        <input class="input" type="text" placeholder="@Placeholder"
               @bind-value="Value" @bind-value:event="oninput"
               @onkeydown="HandleOnKeyDownAsync" @ref="EditableContent">
    </p>
</div>

<div class="field is-grouped is-grouped-multiline m-1">
    <Container Condition="_tags.Count > 0">
        <Repeater Items="_tags" Context="tag">
            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-primary">@tag</span>
                    <a class="tag is-delete" @onclick="() => RemoveTagAsync(tag)"></a>
                </div>
            </div>
        </Repeater>
    </Container>
</div>
