@typeparam TItem
@typeparam TId

<div>
    <Repeater Items="Data" Context="item">
        @{
            var value = IdSelector(item);
            <input type="checkbox" checked=@SelectedIds.Contains(value) @onchange="eventArgs => { CheckboxClicked(value, eventArgs.Value); }" />
            @LabelSelector(item) <br />
        }
    </Repeater>
</div>
