<div class="card">
    <header class="card-header">
        <p class="card-header-title">
            @Title
        </p>
        <div class="card-header-icon">
            <a @onclick="() => IsExpanded = !IsExpanded">
                <Container Condition="IsExpanded">
                    <ChildContent>
                        <span class="icon is-small">
                            <i class="fas fa-minus"></i>
                        </span>
                    </ChildContent>
                    <ElseContent>
                        <span class="icon is-small">
                            <i class="fas fa-plus"></i>
                        </span>
                    </ElseContent>
                </Container>
            </a>
        </div>
    </header>
    <Container Condition="IsExpanded">
        <div class="card-content">
            @ChildContent
        </div>
    </Container>
</div>
