<div class="menu-links">
    <NavLink Match="NavLinkMatch.Prefix" href="@NavigationManager.ToAbsoluteUri("/games")" class="ml-10 mr-10">Parties</NavLink>
    <NavLink Match="NavLinkMatch.Prefix" href="@NavigationManager.ToAbsoluteUri("/statistics")" class="ml-10 mr-10">Stats</NavLink>
    <AuthorizeView>
        <NavLink Match="NavLinkMatch.Prefix" href="@NavigationManager.ToAbsoluteUri("/admin")" class="ml-10 mr-10">Admin</NavLink>
    </AuthorizeView>

    <div class="theme-chooser">
        <AuthorizeView>
            <Authorized>
                @Name
                <button type="button" @onclick="@LogoutClickAsync">Déconnexion</button>
            </Authorized>
            <Authorizing>
                <GeoNRage.App.Components.Admin.Login />
            </Authorizing>
            <NotAuthorized>
                <GeoNRage.App.Components.Admin.Login />
            </NotAuthorized>
        </AuthorizeView>

        <select @onchange="ChangeThemeAsync">
            <option value="basic">Basic</option>
            <option value="legacy">Legacy</option>
            <option value="zelda">Zelda</option>
        </select>
    </div>
</div>
