<Container Condition="PopupService!.IsOpen">
    <div class="modal is-active">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title is-capitalized">@PopupService.Title</p>
                <button class="delete" aria-label="close" @onclick="PopupService.HidePopup" type="button"></button>
            </header>
            <section class="modal-card-body">
                @PopupService.Message
            </section>
            <footer class="modal-card-foot is-justify-content-flex-end">
                <Container Condition="PopupService.IsOkCancel">
                    <ChildContent>
                        <button class="button is-primary" @onclick="OnValidate" type="button">Valider</button>
                        <button class="button is-danger" @onclick="PopupService.HidePopup" type="button">Annuler</button>
                    </ChildContent>
                    <ElseContent>
                        <button class="button is-primary" @onclick="PopupService.HidePopup" type="button">Fermer</button>
                    </ElseContent>
                </Container>
            </footer>
        </div>
    </div>
</Container>
