<div class="toast-container">
	<Repeater Items="Toasts" Context="toast">
		<Toast @key="@toast.Id" Content="@toast.Content" OnCloseCallback="() => RemoveToast(toast)" Duration="@toast.Duration" Type="@toast.ToastType"></Toast>
	</Repeater>
</div>
