<div class="toast-container">
	<Repeater Items="Toasts" Context="toast">
		<Toast @key="@toast.Id" Message="@toast.Message" OnCloseCallback="() => RemoveToast(toast)" Duration="@toast.Duration" Type="@toast.ToastType" />
	</Repeater>
</div>
