<div class="toast-container">
	@foreach (var toast in Toasts)
	{
		<Toast @key="@toast.Id" Content="@toast.Content" OnCloseCallback="() => RemoveToast(toast)" Duration="@toast.Duration" Type="@toast.ToastType"></Toast>
	}
</div>
