@use 'variables' as v;

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 98vh;
}

.logo {
    font-size: 50px;
    font-family: v.$logo-font;
}

.svg {
    display: inline-block;
    width: 80px;
    height: 80px;
    animation: svg 5s linear infinite;
}

@keyframes svg {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
