@use 'variables' as v;

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 98vh;
}

.logo {
    font-size: 60px;
    font-family: v.$logo-font;

    > .logo-inner {
        color: v.$accent;
    }
}

.svg {
    display: inline-block;
    width: 100px;
    height: 100px;
    animation: svg 5s linear infinite;

    > path {
        stroke: v.$foreground;
        fill: v.$accent;
        stroke-width: 1;
    }
}

@keyframes svg {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
