html {
    overflow: auto;
}

.application-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    > div:last-child:not(:first-child){
        display: none !important;
    }
}

#blazor-error-ui {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 0px !important;
    border-radius: 0px !important;
}

:root {
    --primary: #{var(--bulma-primary)};
    --primary-invert: #{var(--bulma-primary-invert)};
    --link: #{var(--bulma-link)};
    --text: #{var(--bulma-text)};
    --bulma-family-primary: "Alata", sans-serif;
}
