@use 'variables' as v;

@import 'error';
@import 'loader';
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

body {
    font-family: v.$font-stack;
    color: v.$foreground;
    font-weight: normal;
    background: v.$background;
    height: 100vh;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover, &:visited, &:active {
        color: inherit;
        text-decoration: none;
    }
}
