@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

@import 'theme';

$family-sans-serif: "Alata", sans-serif;
$modal-content-width: 800px;
$navbar-item-img-max-height: 2.5rem;

@import '../lib/bulma/bulma';
@import 'variables';
@import 'loader';

@import 'theme-overrides';

@import 'site';
