@page "/admin"

@attribute [Microsoft.AspNetCore.Authorization.Authorize(Roles = Roles.Admin)]

@using Humanizer;

<GeoNRage.App.Pages.Admin.AdminMenu />

<Container Condition="Tables is not null">
    <ChildContent>
        <div class="container is-fluid">
            <h1 class="is-size-4 m-3">Tables</h1>
            <Table Items="Tables"
                   Headers="@(new TableHeader[]
                                  {
                                      new("Nom", false, string.Empty),
                                      new("Lignes", false, string.Empty)
                                  })">
                <RowContent Context="table">
                    <td>@table.Name</td>
                    <td>@table.RowCount</td>
                </RowContent>
            </Table>
        </div>
    </ChildContent>

    <ElseContent>
        <LoadingAnimation Animated="true">
            Chargement...
        </LoadingAnimation>
    </ElseContent>
</Container>
