@page "/admin/maps"

@attribute [Microsoft.AspNetCore.Authorization.Authorize]

<Container Condition="Maps?.Any() == true">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <Repeater Items="Maps" Context="map">
                <tr>
                    <td>@map.Id</td>
                    <td>@map.Name</td>
                    <td>
                        <button @onclick="(() => EditMap(map.Id))">Editer</button>
                        <button @onclick="(() => DeleteMapAsync(map.Id))">Supprimer</button>
                    </td>
                </tr>
            </Repeater>
        </tbody>
    </table>
</Container>

<button @onclick="ShowMapCreation">Créer</button>

<Container Condition="ShowEditForm">
    <EditForm Model="Map" OnValidSubmit="CreateOrUpdateMapAsync">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <InputText id="id" @bind-Value="Map.Id" />
        <InputText id="name" @bind-Value="Map.Name" />

        <button type="submit">Valider</button>
    </EditForm>
</Container>
