@page "/admin/players"

@attribute [Microsoft.AspNetCore.Authorization.Authorize]

<Container Condition="Players?.Any() == true">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <Repeater Items="Players" Context="player">
                <tr>
                    <td>@player.Id</td>
                    <td>@player.Name</td>
                    <td>
                        <button @onclick="(() => EditPlayer(player.Id))">Editer</button>
                        <button @onclick="(() => DeletePlayerAsync(player.Id))">Supprimer</button>
                    </td>
                </tr>
            </Repeater>
        </tbody>
    </table>
</Container>

<button @onclick="ShowPlayerCreation">Créer</button>

<Container Condition="ShowEditForm">
    <EditForm Model="Player" OnValidSubmit="CreateOrUpdatePlayerAsync">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <p>
            <label>
                Id :
                <InputText @bind-Value="Player.Id" />
            </label>
        </p>

        <p>
            <label>
                Nom :
                <InputText @bind-Value="Player.Name" />
            </label>
        </p>

        <button type="submit">Valider</button>
    </EditForm>
</Container>
