@page "/games"

<ul>
    <Repeater Items="Games" Context="game">
        <li><a href="@NavigationManager.ToAbsoluteUri($"/games/{game.Id}")">@game.Name (@game.Date.ToShortDateString())</a></li>
    </Repeater>
</ul>
