@page "/games"

<ul>
    <Virtualize Items="Games" Context="game">
        <ItemContent>
            <li><a href="@NavigationManager.ToAbsoluteUri($"/games/{game.Id}")">#@game.Id — @game.Name @(game.Locked ? "(terminée)" : "")</a></li>
        </ItemContent>
        <Placeholder>
            <p>Chargement&hellip;</p>
        </Placeholder>
    </Virtualize>
</ul>
