@page "/games"

<ul>
    <Repeater Items="Games" Context="game">
        <li><a href="@NavigationManager.ToAbsoluteUri($"/games/{game.Id}")">#@game.Date.ToShortDateString() — @game.Name @(game.Locked ? "(terminée)" : "")</a></li>
    </Repeater>
</ul>
