@use 'variables' as v;
@use 'themes' as t;

.container {
    display: flex;
    flex-direction: row;

    @media (max-width: 1200px) {
        flex-direction: column;
    }
}

table {
    border-spacing: 0;
    border-collapse: collapse;

    td {
        text-align: center;
        height: 30px;
        width: 150px;
        border: 1px solid;

        @include t.themify(border-color, foreground);
    }

    th {
        height: 30px;
        width: 100px;
        border: 1px solid;

        @include t.themify(border-color, foreground);
        @include t.themify(background, primary);
    }

    tr.bordered {
        border-top: 5px solid;

        @include t.themify(border-color, foreground);
    }
}

a {
    color: inherit;
    text-decoration: none;

    &:hover, &:visited, &:active {
        color: inherit;
        text-decoration: none;
    }
}
