@page "/games"

<Container Condition="Games?.Any() == true">
    <ChildContent>
        <div class="container">
            <Table Items="Games"
                   Headers="@(new TableHeader[]
                                  {
                                      new("Nom", false, string.Empty),
                                      new("Date", false, string.Empty),
                                      new("", false, string.Empty),
                                  })"
                   Paginate="true"
                   PageSize="10">
                <RowContent Context="game">
                    <td>@game.Name</td>
                    <td>@game.Date.ToShortDateString()</td>
                    <td>
                        <a href="@NavigationManager.ToAbsoluteUri($"/games/{game.Id}")">
                            <span class="icon is-small">
                                <i class="fas fa-external-link-alt"></i>
                            </span>
                        </a>
                    </td>
                </RowContent>
            </Table>
        </div>
    </ChildContent>

    <ElseContent>
        <LoadingAnimation Animated="true">
            Chargement des parties...
        </LoadingAnimation>
    </ElseContent>
</Container>
