@use 'bulma/sass/utilities/functions' as f;
@use '_theme' as t;

table {
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 14px;

    td {
        text-align: center !important;
        border: 1px solid black;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background-color: t.$primary;
    }

    th {
        text-align: center !important;
        border: 1px solid black;
        font-weight: normal;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background-color: t.$primary;
        color: f.findColorInvert(t.$primary);
    }
}

.action-button {
    color: t.$text;
}

.error-alert {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 0px !important;
    border-radius: 0px !important;
    z-index: 100;
}

.game-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
