@use 'variables' as v;
@use 'themes' as t;

.container {
    display: flex;
    flex-direction: row;

    @media (max-width: 1400px) {
        flex-direction: column;
    }
}

table {
    td {
        width: 100px;
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    ::deep th {
        width: 100px;
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
