@page "/login"

@layout EmptyLayout
@inject NavigationManager navigationManager
@inject GeoNRageStateProvider authStateProvider

<h1>
    Login
</h1>

<EditForm OnValidSubmit="OnSubmit" Model="loginRequest">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="inputUsername" @bind-Value="loginRequest.UserName" autofocus placeholder="Username" />
    <InputText type="password" id="inputPassword" class="form-control" placeholder="Password" @bind-Value="loginRequest.Password" />

    <InputCheckbox id="inputRememberMe" class="form-check-input" @bind-Value="@loginRequest.RememberMe" />

    <button type="submit">Sign in</button>

    <label>@Error</label>
</EditForm>

@code{
    public LoginDto loginRequest { get; set; } = new LoginDto();

    public string Error { get; set; } = string.Empty;

    async Task OnSubmit()
    {
        Error = string.Empty;
        try
        {
            await authStateProvider.LoginAsync(loginRequest);
            navigationManager.NavigateTo("");
        }
        catch (Exception ex)
        {
            Error = ex.Message;
        }
    }
}
