.card-table {
    max-height: 250px;
    height: 250px;
    overflow-y: auto;
}

.no-challenges {
    max-height: 250px;
    height: 250px;
}

.help-tooltip {
    cursor: help;
}

.card-content {
    padding: 0;
}

.small-table {
    max-height: 200px;
    height: 200px;
    overflow-y: auto;
}
