table {
    td {
        width: none;
        max-width: 120px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    th {
        width: none;
        max-width: 120px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
