.card {
    overflow: hidden;

    .card-table {
        margin-top: 5px;
        max-height: 250px;
        height: 250px;
        overflow-y: auto;
    }

    .card-content {
        margin-top: 5px;
        padding: 0;
    }

    .no-challenges {
        max-height: 250px;
        height: 250px;
    }
}
